.Header {
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background: #fff;
  border-bottom: 1px solid var(--color-grey, #000);
  margin-bottom: 40px;
}

.Container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 1fr 1fr;
}

.Logo {
  color: var(--color-gold, orange);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  grid-column: 1/2;
  grid-row: 1/3;
}

.Home{
  grid-column: 5/6;
  grid-row: 1/2;
}

.TravelStories{
  grid-column: 6/7;
  grid-row: 1/2;
}

.logIn{
  grid-column: 7/8;
  grid-row: 1/2;
}

.LandToursDropDown{
  grid-column: 3/4;
  grid-row: 2/3;
}

.SeaToursDropDown{
  grid-column: 4/5;
  grid-row: 2/3;
}

.AdventuresDropDown{
  grid-column: 5/6;
  grid-row: 2/3;
}

.searchBar{
  grid-column: 7/9;
  grid-row: 2/3;
}

/* .Nav {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  overflow-x: auto;
  overflow-y: hidden;
} */

.NavLink {
  margin-left: 10px;
  text-transform: uppercase;
  cursor: pointer;
  white-space: nowrap;
  font-size: 14px;
  font-weight: normal;
  color: var(--color-gold, orange);
}


.NavLink:first-child {
  margin-left: 10px;
}

.NavLink__active,
.NavLink:hover {
  color: var(--color-gold, orange);
  font-weight: bold;
}

.DropDown{
  color: var(--color-gold, orange);
}


.DropdownContent {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.Dropdown:hover .DropdownContent{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 10px;
  align-content: space-around;
}

.DropImage{
  width: 200px;
}

.Image1{
  grid-column: 1/2;
  grid-row: 1/2;
}

.Image2{
  grid-column: 2/3;
  grid-row: 1/2;
}

.Image3{
  grid-column: 1/2;
  grid-row: 2/3;
}

.Image4{
  grid-column: 2/3;
  grid-row: 2/3;
}

@media screen and (max-width: 800px){
  .Dropdown:hover .DropdownContent{
    display: none;
  }
}

