.TripItem {
  background-color: rgb(211, 245, 255);
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px auto;
  cursor: pointer;
  box-shadow: rgba(46, 83, 164, 0.5) 0px 4px 10px;
}

.TripItem:hover {
  transform: translateY(-3px);
  box-shadow: rgba(46, 83, 164, 0.5) 0px 8px 20px;
}

.TripItem:hover > p{
  font-weight: bold;
}
  